<table>
    {% for user in user_subscribes %}
        <td>
            {% include 'user/render_user.html.twig' with{'user': user, 'isSubscribedToUser': isSubscribedToUser} %}
        </td>
    {% endfor %}
</table>
