{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('forms_style/reset_password.css') }}">
{% endblock %}

{% block body %}
    <div class="reset-password-form">
        <h2 class="text-center">Enter your email address to send reset token</h2>
        <div>
            {{ form(form) }}
            {{ form(reset_form) }}
        </div>

    </div>
{% endblock %}
