{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}"> LOGOUT </a>
    {% else %}
        <a href="{{ path('registration') }}"> SIGN UP </a>
        <a href="{{ path('app_login') }}"> SIGN IN </a>
    {% endif %}

{% endblock %}
