{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{ path('registration') }}"> SIGN UP </a>
    <a href="{{ path('app_login') }}"> SIGN IN </a>
    <a href="{{ path('app_logout') }}"> LOGOUT </a>
{% endblock %}
